:root {
	--header-color: #212121;
	--second-header-color: #ffffff;
	--primary-text-color: #757575;
	--second-text-color: #ffffff;
	--third-text-color: #212121;
	--accent-text-color: #2196f3;
	--primary-title-color: #212121;
	--second-title-color: #ffffff;
	--main-background-color: #ffffff;
	--first-background-color: #2f303a;
	--second-background-color: #2196f3;
	--third-background-color: #f5f4fa;
	--hover-color: #188ce8;
	--border-header-color: #ececec;
	--border-portfolio-color: #eeeeee;
}

body {
	font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.71;
	background-color: var(--main-background-color);
}

.visually-hidden {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}

/*utilities*/

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
	margin: 0;
	padding: 0;
}

img {
	display: block;
}

.list {
	list-style: none;
}

.link {
	text-decoration: none;
}

/*container blank*/

.container {
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}

.section {
	padding-top: 94px;
	padding-bottom: 94px;
}

/*modal*/

.backdrop {
	position: fixed;
	width: 100vw;
	height: 100vh;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.2);
	z-index: 9999;
	opacity: 1;
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
}

.backdrop.is-hidden .modal {
	transform: translate(-50%, -50%) scale(0.3);
	opacity: 0;
}

.modal {
	padding: 40px 39px 40px 41px;
	position: absolute;
	min-width: 528px;
	min-height: 581px;
	left: 50%;
	top: 50%;
	background: var(--second-text-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	transform: translate(-50%, -50%) scale(1);
	opacity: 1;
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 490px;
	top: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background: var(--second-text-color);
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
	cursor: pointer;
}

.close {
	display: block;
	transition-property: fill;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover .close,
.button-close:focus .close {
	fill: var(--hover-color);
}

.modal-title {
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 0.86;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--header-color);
	margin-bottom: 12px;
}

.hiro-form {
	width: 448px;
	min-height: 200px;
	margin: 0 auto;
}

.hiro-form-text {
	display: block;
	margin-bottom: 10px;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 1.16;
	/* identical to box height */
	letter-spacing: 0.01em;
	color: var(--primary-text-color);
}

.hiro-form-input {
	outline: none;
	margin-top: 4px;
	width: 100%;
	min-height: 40px;
	padding-left: 42px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	box-sizing: border-box;
	border-radius: 4px;
	cursor: pointer;
	transition-property: border-color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hiro-comment-text {
	display: block;
	margin-bottom: 20px;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 1.16;
	/* identical to box height */
	letter-spacing: 0.01em;
	color: var(--primary-text-color);
}

.hiro-comment-input {
	outline: none;
	margin-top: 4px;
	width: 100%;
	min-height: 120px;
	padding: 12px 16px;
	resize: none;
	border: 1px solid rgba(33, 33, 33, 0.2);
	box-sizing: border-box;
	border-radius: 4px;
	transition-property: border-color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hiro-comment-input:focus,
.hiro-comment-input:hover {
	border-color: var(--hover-color);
}

.modal-form-block {
	position: relative;
	display: block;
	color: var(--primary-title-color);
}

.modal-form-icon {
	display: block;
	position: absolute;
	top: 14px;
	left: 12px;
	transition-property: fill;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hiro-form-input:hover,
.hiro-form-input:focus {
	border-color: var(--hover-color);
}

.modal-form-icon:hover,
.modal-form-icon:focus {
	fill: var(--hover-color);
}

.modal-form-icon:hover .hiro-form-input,
.modal-form-icon:focus .hiro-form-input {
	border-color: var(--hover-color);
}

.hiro-form-input:hover + .modal-form-icon,
.hiro-form-input:focus + .modal-form-icon {
	fill: var(--hover-color);
}

.check {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.71;
	/* identical to box height, or 171% */
	letter-spacing: 0.03em;
	color: var(--primary-text-color);
}

.check-input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.check-box {
	width: 16px;
	height: 15px;
	margin-right: 9px;
	background-image: url(../images/rec\ 1.svg);
	transition-property: beckground-image;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.check-input:checked + .check-box {
	background-image: url(../images/icon\ check.svg);
}

.check-input:focus + .check-box {
	background-image: url(../images/rec\ 2.svg);
}

.check-input:checked:focus + .check-box {
	background-image: url(../images/icon\ check\ 2.svg);
}

.check-input:hover + .check-box {
	background-image: url(../images/rec\ 2.svg);
}

.check-input:checked:hover + .check-box {
	background-image: url(../images/icon\ check\ 2.svg);
}

.check-box-linc {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.71;
	/* identical to box height, or 171% */
	letter-spacing: 0.03em;
	color: var(--accent-text-color);
}

.hiro-form-button {
	margin: 0 auto;
	display: block;
	width: 200px;
	min-height: 50px;
	border: none;
	background: #2196f3;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	cursor: pointer;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 1.86;
	/* identical to box height, or 187% */
	letter-spacing: 0.06em;
	color: var(--second-text-color);
	transition-property: background-color, box-shadow;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hiro-form-button:focus,
.hiro-form-button:hover {
	background: #188ce8;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
}

/*header*/

.header {
	border-bottom: 1px solid var(--border-header-color);
	padding-top: 24px;
	padding-bottom: 25px;
	width: 100vw;
	background-color: var(--second-text-color);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
}

.menu-list {
	display: flex;
}

.menu-item:not(:last-child) {
	margin-right: 50px;
}

.header-nav {
	display: flex;
	align-items: center;
}

.menu-auto-list {
	display: flex;
	margin-left: auto;
}

.menu-auto-item:not(:last-child) {
	margin-right: 50px;
}

.menu-auto-item {
	display: flex;
	align-items: center;
}

.header-content {
	display: flex;
	align-items: center;
}

.header-logo {
	margin-right: 93px;
}

.header-logo,
.footer-logo {
	font-family: Raleway;
	font-weight: bold;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: var(--header-color);
}

.header-logo-part {
	color: var(--accent-text-color);
}

.menu {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--primary-text-color);
}

.menu-link {
	display: flex;
	position: relative;
	color: var(--header-color);
	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
	color: var(--accent-text-color);
}

.menu-link.current::after {
	content: "";
	position: absolute;
	top: 44px;
	width: 100%;
	height: 4px;
	border-radius: 2px;
	background: var(--accent-text-color);
}

.menu-link:hover,
.menu-link:focus {
	color: var(--accent-text-color);
}

.header-mail,
.header-tel {
	color: var(--primary-text-color);
	display: flex;
	align-items: center;
	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-icon {
	margin-right: 10px;
	fill: var(--primary-text-color);
	transition-property: fill;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus {
	color: var(--accent-text-color);
}

.header-mail:hover .header-icon,
.header-mail:focus .header-icon,
.header-tel:hover .header-icon,
.header-tel:focus .header-icon {
	fill: var(--accent-text-color);
}

/*hiro*/

.section-hero {
	text-align: center;
	background-color: var(--first-background-color);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding-bottom: 200px;
	padding-top: 200px;
	max-width: 1600px;
	margin: 80px auto;
	background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img.17.jpg);
}

.main-title {
	width: 696px;
	margin: 0 auto 30px;
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	/* or 136% */
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--second-title-color);
}

.main-btn {
	display: block;
	margin: 0 auto;
	padding: 10px 32px;
	min-width: 200px;
	border-radius: 4px;
	border: none;
	font-family: inherit;
	font-weight: bold;
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.06em;
	/* identical to box height, or 187% */
	color: var(--second-text-color);
	background-color: var(--second-background-color);
	cursor: pointer;
	transition-property: background-color, box-shadow;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main-btn:hover,
.main-btn:focus {
	color: var(--second-text-color);
	background-color: var(--hover-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
}

/*benefits*/

.benefits-icons {
	width: 270px;
	height: 120px;
	box-sizing: border-box;
	background: #f5f4fa;
	border-radius: 4px;
	fill: var(--third-text-color);
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;
}

.item-benefits {
	display: flex;
	flex-wrap: wrap;
	margin-left: -30px;
}
.list-benefits {
	flex-basis: calc(100% / 4 - 30px);
	margin-left: 30px;
}

.list-title-benefits {
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: bold;
	line-height: 1.14;
	text-transform: uppercase;
	letter-spacing: 0.03em;

	color: var(--primary-title-color);
}

.text-benefits {
	letter-spacing: 0.03em;
	color: var(--primary-text-color);
}
/*what are we doing*/
.section-title {
	margin-bottom: 50px;
	font-weight: bold;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
	letter-spacing: 0.03em;
}

.activity-section {
	padding-top: 0;
}

.item-activity {
	display: flex;
	flex-wrap: wrap;
	margin-left: -30px;
}
.activity-img {
	flex-basis: calc(100% / 3 - 30px);
	margin-left: 30px;
	display: flex;
	position: relative;
}

.notification-container {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 70px;
	bottom: 0;
	background: rgba(47, 48, 58, 0.8);
}

.activity-notification {
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 0.87;
	text-align: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--second-text-color);
}

/*team*/
.team-seaction {
	background-color: var(--third-background-color);
}
.item-team {
	display: flex;
	flex-wrap: wrap;
	margin-left: -30px;
}
.team-card {
	flex-basis: calc(100% / 4 - 30px);
	margin-left: 30px;
	background: var(--second-title-color);
	/* material shadow v1 */

	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}
.staff {
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: var(--main-background-color);
	border-radius: 0px 0px 4px 4px;
}
.team-title {
	margin-bottom: 10px;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.18;
	letter-spacing: 0.03em;
	/* identical to box height */
	text-align: center;
	color: var(--primary-title-color);
}

.team-text {
	font-size: 16px;
	line-height: 1.18;
	letter-spacing: 0.03em;
	/* identical to box height */
	text-align: center;
	color: var(--primary-text-color);
	margin-bottom: 16px;
}

.social-list {
	display: flex;
	justify-content: center;
}

.social-item {
	width: 44px;
	height: 44px;
	margin-right: 10px;
}

.social-item:last-child {
	margin-right: 0;
}

.social-icon {
	fill: #afb1b8;
	transition-property: fill;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link {
	width: 100%;
	height: 100%;
	background-color: var(--second-text-color);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition-property: background-color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
	background-color: var(--accent-text-color);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
	fill: var(--second-text-color);
}

/*Regular customers*/

.customers-items {
	display: flex;
}

.customers-item {
	display: flex;
	margin-right: 30px;
}

.customers-item:last-child {
	margin-right: 0;
}

.customers-interactive {
	width: 170px;
	height: 92px;
	border: 1px solid #afb1b8;
	box-sizing: border-box;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition-property: border-color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-icon {
	fill: #afb1b8;
	transition-property: fill;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-interactive:hover,
.customers-interactive:focus {
	border-color: var(--accent-text-color);
}

.customers-interactive:hover .customers-icon,
.customers-interactive:focus .customers-icon {
	fill: var(--accent-text-color);
}
/*portfolio*/

/*filter*/
.item-menu-filters {
	display: block;
	display: flex;
	justify-content: center;
	margin-top: 80px;
	margin-bottom: 50px;
}

.menu-list-filters:not(:last-child) {
	margin-right: 8px;
}

.btn-filters {
	display: block;
	padding: 6px 22px;
	border-radius: 4px;
	border: none;
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	letter-spacing: 0.03em;
	/* identical to box height, or 162% */
	text-align: center;
	color: var(--third-text-color);
	cursor: pointer;
	transition-property: color, background-color, box-shadow;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-filters:hover,
.btn-filters:focus {
	color: var(--second-text-color);
	background-color: var(--second-background-color);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
	border-radius: 4px;
}

/*prodject*/

.item-projects {
	display: flex;
	flex-wrap: wrap;
	margin-left: -30px;
	margin-top: -30px;
}

.list-projects {
	flex-basis: calc(100% / 3 - 30px);
	margin-left: 30px;
	margin-top: 30px;
}

.projects-interactive {
	display: block;
}

.project-card {
	position: relative;
	overflow: hidden;
}

.project-overlay {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(33, 150, 243, 0.9);
	transform: translateY(0);
	transition: transform 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-text {
	width: 322px;
	height: 168px;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 1.55;
	/* or 156% */
	letter-spacing: 0.03em;
	color: var(--second-text-color);
}

.projects-interactive:hover,
.projects-interactive:focus {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-interactive:hover .project-overlay,
.projects-interactive:focus .project-overlay {
	transform: translateY(-100%);
}

.title-img {
	margin-bottom: 4px;
	font-weight: bold;
	font-size: 18px;
	line-height: 2;
	/* identical to box height, or 200% */
	letter-spacing: 0.06em;
	color: var(--primary-title-color);
}

.project-description {
	padding: 20px 24px 20px;
	border: 1px solid var(--border-portfolio-color);
	border-top: none;
}

.text-projects {
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.03em;
	/* identical to box height, or 187% */
	color: var(--primary-text-color);
}

/*footer*/

.footer {
	width: 100%;
	background-color: var(--first-background-color);
	padding-top: 60px;
	padding-bottom: 60px;
}

.footer-container {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

.footer-logo {
	display: block;
	width: 145px;
	height: 31px;
	margin-bottom: 20px;
	color: var(--second-header-color);
}

.address {
	display: flex;
	font-style: normal;
	width: 231px;
	height: 81px;
}

.adress-list:not(:last-child) {
	margin-bottom: 9px;
}

.adress-area {
	color: var(--second-text-color);
	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-mail,
.adress-tel {
	color: rgba(255, 255, 255, 0.6);
	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-area:hover,
.adress-area:focus,
.adress-mail:hover,
.adress-mail:focus,
.adress-tel:hover,
.adress-tel:focus {
	color: var(--accent-text-color);
}

.join {
	display: block;
	width: 145px;
	height: 16px;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 0, 87;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	margin-bottom: 20px;
	color: var(--second-text-color);
}

.footer-social-list {
	display: flex;
}

.footer-social-item {
	width: 44px;
	height: 44px;
	margin-right: 10px;
}

.footer-social-item:last-child {
	margin-right: 0;
}

.footer-social-icon {
	fill: var(--second-text-color);
}

.footer-social-link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 50%;
	transition-property: background-color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover,
.footer-social-link:focus {
	background-color: var(--accent-text-color);
}

.footer-form {
	display: flex;
	align-items: center;
}

.form-label {
	display: flex;
	width: 358px;
}

.form-input {
	padding-left: 16px;
	width: 100%;
	min-height: 50px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	box-sizing: border-box;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	color: var(--second-text-color);
	cursor: pointer;
	background: var(--first-background-color);
	transition-property: border-color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus,
.form-input:hover {
	border-color: var(--hover-color);
}

.footer-submit {
	display: flex;
	align-items: center;
	text-align: center;
	margin-left: 12px;
	padding: 10px 28px;
	cursor: pointer;
	background: var(--second-background-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border: none;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 1.87;
	/* identical to box height, or 187% */
	letter-spacing: 0.06em;
	color: var(--second-text-color);
	transition-property: background-color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-submit:hover,
.footer-submit:focus {
	background: var(--hover-color);
}

.footer-form-text {
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 0.87;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--second-text-color);
	margin-bottom: 20px;
}

.footer-send-icon {
	margin-left: 10px;
}
